.path-nav{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    margin-bottom: 15px;
    padding: 10px;
}
.navbar-path{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: aquamarine;
}

.path-btn{
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
}
.path-btn1{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
}